<h3 mat-dialog-title>
  <mat-card>
    <mat-card-subtitle>
      First Name
    </mat-card-subtitle>
    {{client.firstName}}
  </mat-card>
</h3>
<h3 mat-dialog-title>
  <mat-card>
    <mat-card-subtitle>
      Last Name
    </mat-card-subtitle>
    {{client.lastName}}
  </mat-card>
</h3>
<h3 mat-dialog-title>

  <mat-card>
    <mat-card-subtitle>
      Birthday
    </mat-card-subtitle>
    {{client.birthDate}}
  </mat-card>
</h3>
<h3 mat-dialog-title>
  <mat-card>
    <mat-card-subtitle>
      Email
    </mat-card-subtitle>
    {{client.email}}
  </mat-card>
</h3>
<h3 mat-dialog-title>
  <mat-card>
    <mat-card-subtitle>
      Password
    </mat-card-subtitle>
    {{client.password}}
  </mat-card>
</h3>
