<form class="client-create-form">
  <mat-form-field class="full-width" appearance="fill">
    <mat-label>First Name</mat-label>
    <a>
      <input matInput [disabled]="currentUrl != '/clients/create'"
             value="{{client.firstName}}" name="firstName" [(ngModel)]="client.firstName">
    </a>
  </mat-form-field>
  <mat-form-field class="full-width" appearance="fill">
    <mat-label>Last Name</mat-label>
    <a>
      <input matInput [disabled]="currentUrl != '/clients/create'"
             value="{{client.lastName}}" name="lastName" [(ngModel)]="client.lastName">
    </a>
  </mat-form-field>
  <mat-form-field class="full-width" appearance="fill">
    <mat-label>Birthday</mat-label>
    <a>
      <input matInput [matDatepicker]="picker" [disabled]="currentUrl != '/clients/create'"
             value="{{client.birthDate}}" name="birthDate" [(ngModel)]="client.birthDate">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </a>
  </mat-form-field>
  <mat-form-field class="full-width" appearance="fill">
    <mat-label>Email</mat-label>
    <a>
      <input matInput [disabled]="currentUrl != '/clients/create'"
             value="{{client.email}}" name="email" [(ngModel)]="client.email">
    </a>
  </mat-form-field>
  <mat-form-field class="full-width" appearance="fill">
    <mat-label>Password</mat-label>
    <a>
      <input matInput [disabled]="currentUrl != '/clients/create'"
             value="{{client.password}}" name="password" [(ngModel)]="client.password">
    </a>
  </mat-form-field>
  <div *ngIf="currentUrl == '/clients/create'">
    <button mat-raised-button type="submit" (click)="onSubmit()">Create</button>
    <a mat-raised-button routerLink="/clients">Cancel</a>
  </div>
</form>
